<div class="sign-up-box my-5">
    <div class="container-lg p-3 rounded border">
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId"
                        placeholder="Enter your email" />
                    <small id="emailHelpId" class="form-text text-muted">Help text</small>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password"
                        placeholder="enter password" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password </label>
                    <input type="password" class="form-control" name="confirm-password" id="confirm-password"
                        placeholder="confirm password" />
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="first-name" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="first-name" id="first-name"
                        aria-describedby="first-name" placeholder="Enter First Name" />
                    <small id="first-name" class="form-text text-muted">Enter First Name</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="last-name" class="form-label">Last Name </label>
                    <input type="text" class="form-control" name="last-name" id="last-name"
                        aria-describedby="last-name-Id" placeholder="enter your last name" />
                    <small id="last-name-Id" class="form-text text-muted">Enter your Last Name</small>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="phone-number" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control" name="phone-number" id="phone-number"
                        aria-describedby="phoneNumberId" placeholder="Enter phone Number" />
                    <small id="phoneNumberId" class="form-text text-muted">enter phone Number</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="addressLine1" class="form-label">Address Line 1</label>
                    <input type="text" class="form-control" name="addressLine1" id="addressLine1"
                        aria-describedby="addressLine1HelpId" placeholder="Enter Address Line 1" />
                    <small id="addressLine1HelpId" class="form-text text-muted">Enter your address line 1</small>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="addressLine2" class="form-label">Address Line 2</label>
                    <input type="text" class="form-control" name="addressLine2" id="addressLine2"
                        aria-describedby="addressLine2HelpId" placeholder="Enter your second Address Line " />
                    <small id="addressLine2HelpId" class="form-text text-muted">Enter Your Address Line 2</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" name="country" id="country" aria-describedby="countryHelpId"
                        placeholder="Enter your Country" />
                    <small id="countryHelpId" class="form-text text-muted">Enter your country</small>
                </div>

            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control" name="state" id="state" aria-describedby="stateHelpId"
                        placeholder="enter your state" />
                    <small id="stateHelpId" class="form-text text-muted">Help text</small>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="city" class="form-label">City </label>
                    <input type="text" class="form-control" name="city" id="city" aria-describedby="cityHelpId"
                        placeholder="Enter your City" />
                    <small id="cityHelpId" class="form-text text-muted">Enter City Name</small>
                </div>

            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="zipCode" class="form-label">Zip Code</label>
                    <input type="text" class="form-control" name="zipCode" id="zipCode" aria-describedby="zipCodeHelpId"
                        placeholder="Enter your zip code " />
                    <small id="zipCodeHelpId" class="form-text text-muted">Enter your zip code</small>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="d-grid gap-2">
                    <button type="button" name="crateAccount" id="crateAccount" class="btn btn-dark">
                        Create Account
                    </button>
                </div>
            </div>
            <div class="col-3">
                <div class="d-grid gap-2">
                    <button type="button" name="signIn " id="signIn " class="btn btn-light">
                        Sign In
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>