.blockreassurance_product {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.items-div {
  border: 2px solid white;
  padding: 1rem;
}

.blockreassurance_product .item-product {
  display: inline-block;
  height: 35px;
  margin-right: 5px;
  padding-top: 5px;
}

.blockreassurance_product .item-product svg {
  padding-bottom: 15px;
  width: 28px;
}

.billing {
  line-height: 1.7;
}

.product-line-grid-left img {
  max-width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.product-line-grid-body>.product-line-info>.label {
  padding: 0;
  line-height: inherit;
  text-align: left;
  white-space: inherit;
}
.label {
  color: #000;
  font-weight: 500;
  text-align: right;
}
a{
  text-decoration: none;
}

.product-line-grid-right .bootstrap-touchspin {
  width: 4.25rem;
}