<div class="login-box">
    <div class="container-lg border rounded my-4 p-5">
        <div class="logo text-center">
            <p>Ecommerce Web</p>
        </div>
        <form>
            <div class="row">
                <div class="col">
                    <h3>Sign In</h3>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId"
                        placeholder="Your Email Address" />
                    <small id="emailHelpId" class="form-text text-muted">Please Enter the valid email</small>
                </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="rememberMe" />
                        <label class="form-check-label" for="rememberMe"> Remember Me </label>
                    </div>
                </div>
                <div class="col">
                    <p>Forgot Your Password?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 d-grid gap-2">
                    <button type="button" [routerLink]="['/user/signup']" name="signIn" id="register" class="btn btn-secondary">
                        Register
                    </button>
                </div>
                <div class="col-6 d-grid gap-2">
                    <button type="button"  name="signIn" id="signIn" class="btn btn-primary">
                        Sign In
                        <div class="d-none spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>