.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.banner_content {
    position: relative;
    margin-top: 30px;
    display: inline-block;
}

.des_banner {
    position: absolute;
    top: 45px;
    left: 30px;
    text-align: left;
    z-index: 5;
}

.hotdeals-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hotdeals-heading {
    display: flex;
    justify-content: flex-start;
}

.hotdeals-img {
    position: relative;
}


.hotdeals-img>span {
    display: block;
    position: absolute;
    left: 14px;
    top: 12px;
    background: #317ece;
    color: white;
    font-size: 14px;
    line-height: 25px;
    height: 26px;
    min-width: 50px;
    padding: 0 8px;
    z-index: 3;
    text-align: center;
    font-weight: 400;
    border-radius: 3px;
    text-transform: capitalize;
}

.price {
    color: #317ece;
    font-size: 16px;
    font-weight: 700;
}

.regular-price {
    color: #999;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 400;
    margin-left: 18px;
    vertical-align: bottom;
}

.rating {
    color: #ef8743;
}

.product-detail {
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hotdeal-data {
    text-align: center;
    padding: 40px;
}

.item-countdown-time {
    display: flex;
    background-color: #317ece;
    color: white;
    font-size: 15px;
    padding: 10px 5px;
    gap: 20px;

}

.section_cout {
    display: flex;
    flex-direction: column;
}

.product-buttons {
    display: none;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    flex-direction: row;
    top: 50%;
    left: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    transform: translate3d(-50%, -50%, 0);
    transition: all 2s ease;
}



.product-buttons>button {
    border: none;
    color: blue;
    background: transparent;
}

.hotdeals-item:hover {
    .product-buttons {
        display: flex;
    }

    .hotdeals-img>img {
        opacity: 0.4;
        transition: all 1s ease;
    }
}

.featured-product-container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.featured-img {
    position: relative;
}

.featured-img>img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.featured-data {
    padding-top: 20px;
}

.todays-deals-container{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}