<div>
    <section class="home-carousel">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="100">
                    <img src="../../../../../../assets/images/slider11-93.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../../../../../../assets/images/slider13-867.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../../../../../../assets/images/slider12-222.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section class=" banner">
        <div class="left_banner">
            <div class="banner_content">
                <div class="hover_banner"><a href="#"> <img class="img-responsive"
                            src="../../../../../../assets/images/img1.png" alt=""></a></div>
                <div class="des_banner">
                    <h4>hot promotion</h4>
                    <h3>up to 60% off</h3>
                </div>
            </div>
        </div>
        <div class="center_banner">
            <div class="banner_content">
                <div class="hover_banner"><a href="#"> <img class="img-responsive"
                            src="../../../../../../assets/images/img2.png" alt=""></a></div>
                <div class="des_banner">
                    <h4>New Smartphone</h4>
                    <h3>Save up to 25%</h3>
                </div>
            </div>
        </div>
        <div class="right_banner">
            <div class="banner_content">
                <div class="hover_banner"><a href="#"> <img class="img-responsive"
                            src="../../../../../../assets/images/img3.png" alt=""></a></div>
                <div class="des_banner">
                    <h4>catch big</h4>
                    <h3>your cameras</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="hotdeals-featured container mt-4">
        <div class="hot-deals col-lg-3">
            <div class="hotdeals-heading">
                <h5>HOT DEALS</h5>
                <div>
                    <button>
                        <i class="bi bi-arrow-left-square"></i>
                    </button>
                    <button>
                        <i class="bi bi-arrow-right-square"></i>
                    </button>
                </div>
            </div>
            <hr>
            <div class="hotdeals-carousal">
                <div class="hotdeals-item" style="border: 2px solid blue;">
                        <div class="hotdeals-img">
                            <img class="img-responsive" src="../../../../../../assets/images/piscing-elitt-amet-ipiscing- 1.jpg" alt="images">
                            <span>New</span>
                        </div>
                    <div class="hotdeal-data">
                        <h5>Pising elitt amet, ispiscing</h5>
                        <h6>$152</h6>
                        <div class="rating">
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem maxime, iusto saepe
                            fuga numquam laborum? Dolore id recusandae magnam facere.</p>
                        <h4>Hurry UP! Offer Ends In :</h4>
                        <div class="countdown">
                            <div data-mdb-countdown-init data-mdb-countdown="2024-02-01T00:00:00+05:30">
                                <span class="countdown-unit countdown-days">923</span>
                                <span class="countdown-separator">:</span>
                                <span class="countdown-unit countdown-hours">08</span>
                                <span class="countdown-separator">:</span>
                                <span class="countdown-unit countdown-minutes">35</span>
                                <span class="countdown-separator">:</span>
                                <span class="countdown-unit countdown-seconds">52</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured col-lg-9">

        </div>
    </section>
</div>