
$primary: #2e6cc8;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

// $primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

.productsImageButtons {
    display: block;
    top: 0;
    right: 0;
    gap: 5px;
    flex-direction: column;
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
}

.productsImageButtons>button {
    height: 35px;
    width: 35px;
    display: inline-block;
    -webkit-mask-size: 24px;
    mask-size: 24px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background: transparent;
    border: 0.7px solid $gray-800;
    color: $gray-200;
    border-radius: 25px;
}

.productsImageButtons>button:hover{
    color: greenyellow;
    .productsImageButtons>button{
        border: 0.5px solid white;
    }
}

.productContainer:hover {
    .productImageContainer>img {
        opacity: 0.4;
        transition: all 1s ease;
        cursor: pointer;
    }
    .productsImageButtons {
        display: flex;
        transform: translateY(30degree);
        transition: all 2s ease;
        color: $gray-200;
    }
    .productsImageButtons>button {
        background-color: $primary;
    }

}

[style^=--rating]::after {
    content: "★★★★★";
    font-size: 2em;
    white-space: nowrap;
    background: linear-gradient(90deg, #fb0 calc(var(--rating) * 20%), #ddd calc(var(--rating) * 20%));
    background-clip: text;
    -webkit-background-clip: text;
    color: #0000;
}

.regular-price {
    color: #999;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 400;
    margin-left: 18px;
    vertical-align: bottom;
}

.actual-price {
    color: #317ece;
    font-size: 16px;
    font-weight: 700;
}