<footer class="mt-3">
    <div class="Brands-block-slider bg_white">
        <hr>
        <!-- <div class="container">
            <div id="fieldbrandslider" class="horizontal_mode mt-3">
                <div id="fieldbrandslider-manufacturers" class="grid carousel-grid owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div class="owl-item" style="width: 240px;">
                                <div class="item">
                                    <a class="img-wrapper" href="https://demo.fieldthemes.com/techo/demo1/en/3_brand1"
                                        title="brand1">
                                        <img class="img-responsive"
                                            src="https://demo.fieldthemes.com/techo/demo1/img/m/3-field_manufacture.jpg"
                                            alt="brand1" width="150" height="95">
                                    </a>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 240px;">
                                <div class="item">
                                    <a class="img-wrapper" href="https://demo.fieldthemes.com/techo/demo1/en/4_brand2"
                                        title="brand2">
                                        <img class="img-responsive"
                                            src="https://demo.fieldthemes.com/techo/demo1/img/m/4-field_manufacture.jpg"
                                            alt="brand2" width="150" height="95">
                                    </a>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 240px;">
                                <div class="item">
                                    <a class="img-wrapper" href="https://demo.fieldthemes.com/techo/demo1/en/5_brand3"
                                        title="brand3">
                                        <img class="img-responsive"
                                            src="https://demo.fieldthemes.com/techo/demo1/img/m/5-field_manufacture.jpg"
                                            alt="brand3" width="150" height="95">
                                    </a>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 240px;">
                                <div class="item">
                                    <a class="img-wrapper" href="https://demo.fieldthemes.com/techo/demo1/en/6_brand4"
                                        title="brand4">
                                        <img class="img-responsive"
                                            src="https://demo.fieldthemes.com/techo/demo1/img/m/6-field_manufacture.jpg"
                                            alt="brand4" width="150" height="95">
                                    </a>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 240px;">
                                <div class="item">
                                    <a class="img-wrapper" href="https://demo.fieldthemes.com/techo/demo1/en/7_brand5"
                                        title="brand5">
                                        <img class="img-responsive"
                                            src="https://demo.fieldthemes.com/techo/demo1/img/m/7-field_manufacture.jpg"
                                            alt="brand5" width="150" height="95">
                                    </a>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 240px;">
                                <div class="item">
                                    <a class="img-wrapper" href="https://demo.fieldthemes.com/techo/demo1/en/8_brand6"
                                        title="brand6">
                                        <img class="img-responsive"
                                            src="https://demo.fieldthemes.com/techo/demo1/img/m/8-field_manufacture.jpg"
                                            alt="brand6" width="150" height="95">
                                    </a>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 240px;">
                                <div class="item">
                                    <a class="img-wrapper" href="https://demo.fieldthemes.com/techo/demo1/en/9_brand7"
                                        title="brand7">
                                        <img class="img-responsive"
                                            src="https://demo.fieldthemes.com/techo/demo1/img/m/9-field_manufacture.jpg"
                                            alt="brand7" width="150" height="95">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev">
                            <div class="carousel-previous disable-select"><span class="fa fa-angle-left"></span>
                            </div>
                        </button><button type="button" role="presentation" class="owl-next">
                            <div class="carousel-next disable-select"><span class="fa fa-angle-right"></span></div>
                        </button></div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="footer-center bg-light">
        <div class="footer-container">
            <div class="emailblock">
                <div class="title_newsletter">
                    <h4>Sign Up For Newsletters</h4>
                    <p>Get e-mail updates about our latest shop and special offers.</p>
                </div>
                <form class="ps-3">
                    <div class="input-wrapper">
                        <input class="form-control" name="email" type="text" value=""
                            placeholder="Your email address...">
                        <button class="btn btn-primary title_font" name="submitNewsletter" type="submit"
                            value="Subscribe">Subscribe</button>
                    </div>
                    <input type="hidden" name="action" value="0">
                </form>
            </div>
            <div class="block-social">
                <ul class="social-link">
                    <li class="button-facebook"><a href="#" target="_blank"><i class="bi bi-facebook"></i></a></li>
                    <li class="button-twitter"><a href="#" target="_blank"><i class="bi bi-twitter"></i></a></li>
                    <li class="button-rss"><a href="#" target="_blank"><i class="bi bi-rss"></i></a></li>
                    <li class="button-googleplus"><a href="#" target="_blank"><i class="bi bi-google"></i></a></li>
                    <li class="button-instagram"><a href="#" target="_blank"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="container contact">
            <div class="row">
                <div class="contact-us col-xs-12 col-sm-6 col-md-3 ">
                    <div>
                        <h5>Contact Us</h5>
                    </div>
                    <div id="footer_contact">
                        <div class="footer_icon">
                            <p>Address: <span>69 Princess Road,London, Greater London NW1 8JR, UK</span></p>
                        </div>
                        <div class="footer_icon">
                            <p>
                                Phone: <span>000-943-446-000</span>
                            </p>
                        </div>
                        <div class="footer_icon fax_info">
                            <p> Fax: <span>(+01) 123 456 789</span>
                            </p>
                        </div>
                        <div class="footer_icon email_info">
                            <p>
                                Email: <span>salesyoursite.com</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="my-account col-xs-12 col-sm-6 col-md-3">

                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">Personal Info</a></li>
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">Credit Slip</a></li>
                        <li><a href="#">Addressess</a></li>
                        <li><a href="#">My Wishlist</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="row">
                        <div class="information col-md-6 ">
                            <h5>Information</h5>
                            <ul>
                                <li><a href="#">Delivery</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Secure Payment</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="Customer-Servie col-md-6 ">
                            <h5>Customer Service</h5>
                            <ul>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">SiteMap</a></li>
                                <li><a href="#">Stores</a></li>
                                <li><a href="#">Login </a></li>
                                <li><a href="#">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-div ">
        <div class="container copyright">
            <p>Copyright © 2023&nbsp;<a href="#">Dhiru</a>. All Right Reserved.</p>
            <div class=""><a href="#"><img class="img-responsive" src="../../../assets/images/payment_ft.png"
                        alt="payment_ft"></a></div>
        </div>
    </div>

</footer>